body {
    background-color: beige;
    margin: 0;
}

#total {
    /*Comentário em css*/
    width: 1080px;
    height: auto;
    margin: auto;
    /*Centraliza a divisão na pagina*/

}

#topo {
    /*Comentário em css*/
    width: 1080px;
    height: 100px;
    background-color: aliceblue;
    float: left;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 100px;
    margin-bottom: 10px;

}

#banner {
    /*Comentário em css*/
    width: 1080px;
    height: 300px;
    background-color: rgb(108, 177, 108);
    float: left;

}

#conteudo {
    /*Comentário em css*/
    width: 1080px;
    height: 400px;
    background-color: green;
    float: left;

}

#lado1 {
    /*Comentário em css*/
    width: 600px;
    height: 400px;
    background-color: #6da753;
    float: left;

}





#rodape {
    /*Comentário em css*/
    width: 1080px;
    height: 268px;
    background-color: rgb(174, 187, 129);
    float: left;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 35px;

}